extends layout

//- block variables 
//-     - var isUserLoggedIn = true


block relsheets 
    link(rel='stylesheet' href='static/styles/course.css')

block content 
    div.box
        h1 #{course.name}
        p Total Rating: #{course.rating}/5
        p #{course.description}
        if isUserLoggedIn
            button(type='button') Like
            h2 Leave a Review
            form(action=`api/courses/review`, method='POST').review-form
                input(type='number', name='rating', placeholder='Rating' min='1' max='5')
                textarea(name='comment', placeholder='Comment')
                button(type='submit') Review
        h2 Reviews
        each review in course.reviews 
            div.review
                h3 #{review.userId.firstName} #{review.userId.lastName}
                p Rating: #{review.rating}
                p #{review.comment}