extends layout

block relsheets 
    link(rel='stylesheet' href='static/styles/global.css')

block content
    h2 Latest Courses 
    each course in courses 
        div
            h2 #{course.name}
            p #{course.rating}
            p #{course.description}
            button(type='button') Like
            a(href=`/api/courses/${course.id}`) View course
    h2 Recommended Courses
    each course in courses 
        div
            h2 #{course.name}
            p #{course.rating}
            p #{course.description}
            button(type='button') Like
            a(href=`/api/courses/${course.id}`) View course